.tags
  .tags__box
    div(class="tags__item tags__item-h1") H1
    h1.tags__text This one is the sub-section or widget title
  .tags__box
    div(class="tags__item tags__item-h2") H2
    h2.tags__text Next one is the item title inside widgets
  .tags__box
    div(class="tags__item tags__item-h3") H3
    h3.tags__text This is a label or CTA text
  .tags__box
    div(class="tags__item tags__item-body") Body
    .tags__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
