@mixin font-face($font-family, $file-path, $weight, $style) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$file-path}.eot"); /* IE9 Compat Modes */
    src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("#{$file-path}.otf") format("opentype"), /* Open Type Font */
      url("#{$file-path}.svg") format("svg"), /* Legacy iOS */
      url("#{$file-path}.ttf") format("truetype"), /* Safari, Android, iOS */
      url("#{$file-path}.woff") format("woff"), /* Modern Browsers */
      url("#{$file-path}.woff2") format("woff2"); /* Modern Browsers */
}
}

@mixin font-parameters($font-family, $font-weight, $font-style, $font-size, $font-height) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-size: $font-size;
    line-height: $font-height;
  @content;
}
