//Montserrat
$montserrat: "Montserrat";
$file-path-Montserrat-Bold: "./fonts/Montserrat/Montserrat-Bold";
$file-path-Montserrat-Regular: "./fonts/Montserrat/Montserrat-Regular";
//Quicksand
$quicksand: "Quicksand";
$file-path-Quicksand-Bold: "./fonts/Quicksand/Quicksand-Bold";
$file-path-Quicksand-Regular: "./fonts/Quicksand/Quicksand-Regular";

//wont-weight & font-style
$weight-bold: bold;
$weight-normal: normal;
$font-style-normal: normal;

//font-size
$h1-size: 24px;
$h2-size: 19px;
$h3-size: 12px;
$common-size: 14px;
//line-height
$h1-height: 30px;
$h2-height: 24px;
$h3-height: 15px;
$common-height: 24px;


//colors
$dark100: rgba(31,32,65,1);
$dark75: rgba(31,32,65,0.75);
$dark50: rgba(31,32,65,0.50);
$dark25: rgba(31,32,65,0.25);
$dark5: rgba(31,32,65,0.05);
$purple : rgb(188,156,255);
$green: rgb(111,207,151);
$main-bg: #ffffff;

//screen-width
$max-width: 1440px;
