include ../components/palette/palette
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title UI KIT
  body.ui-kit
    .ui-kit__wrapper
      .colors-type
        .colors-type__palette
          +palette('dark100','Dark Shade 100%',' #1F2041')
          +palette('dark75','Dark Shade 75%',' #1F2041')
          +palette('dark50','Dark Shade 50%',' #1F2041')
          +palette('dark25','Dark Shade 25%',' #1F2041')
          +palette('dark5','Dark Shade 5%',' #1F2041')
          +palette('purple','Purple',' #BC9CFF')
          +palette('green','Green',' #6FCF97')
        .colors-type__tags
          include ../components/tags/tags
