include ../layout/uikit-base.pug
include ../components/form-elements/text-field/text-field.pug
+ui-layout('Form elements', 'form-elements')
  .form-elements
    +text-field('')
    +text-field('__masked')



